<h2 id="EditNoteHead">Edit Note</h2>
<form id="EditNoteForm">
    <label id="NoteTitleLabel" class="Label" for="NoteTitle">Title</label>
    <input name="noteTitle" type="text" id="NoteTitle" class="Text" value="{{noteTitle}}" required>
    <label id="NoteDescriptionLabel" class="Label" for="NoteDescription">Description</label>
    <textarea name="noteDescription" id="NoteDescription" class="TextArea" required>{{noteContent}}</textarea>
    <label id="NoteImportanceLabel" class="Label" for="NoteImportance">Importance</label>
    <input name="noteImportance" type="number" id="NoteImportance" class="Text" min="1" max="5" value="{{importance}}" required>
    <label id="NoteDueToLabel" class="Label" for="NoteDueTo">Due to</label>
    <input name="noteDueTo" type="date" id="NoteDueTo" class="Date Text" value="{{dueUntilDate}}" required>
    <div id="NoteDoneLabelDiv">
        <label id="NoteDoneLabel" class="Label" for="NoteDone">
            <input name="noteDone" type="checkbox" id="NoteDone" class="NoteDoneCheckbox" {{done}}>Done
        </label>
    </div>

    <input class="Button Save" type="submit" form="EditNoteForm" formmethod="post" formaction="/note/updateNote/{{_id}}/" value="Save">
    <input class="Button Cancel" type="submit" form="dummyForm" formmethod="get" formaction="/" value="Cancel">
</form>
<form id="dummyForm">
</form>