<h2 id="EditNoteHead">Edit Note</h2>
<form id="EditNoteForm">
    <label id="NoteTitleLabel" class="Label" for="NoteTitle">Title</label>
    <input name="noteTitle" type="text" id="NoteTitle" class="Text" value="{{noteTitle}}" required>
    <label id="NoteDescriptionLabel" class="Label" for="NoteDescription">Description</label>
    <textarea name="noteDescription" id="NoteDescription" class="TextArea" value="{{description}}" required></textarea>
    <label id="NoteImportanceLabel" class="Label" for="NoteImportance">Importance</label>
    <select name="noteImportance" id="NoteImportance" class="Text" required>
        <option value="">Choose one</option>
        <option value="1" {{importance1}}>*</option>
        <option value="2" {{importance2}}>**</option>
        <option value="3" {{importance3}}>***</option>
        <option value="4" {{importance4}}>****</option>
        <option value="5" {{importance5}}>*****</option>
    </select>
    <label id="NoteDueToLabel" class="Label" for="NoteDueTo">Due to</label>
    <input name="noteDueTo" type="date" id="NoteDueTo" class="Date Text" value="{{date}}" required>
    <label id="NoteDoneLabel" class="Label" for="NoteDone">
        <input name="noteDone" type="checkbox" id="NoteDone" class="NoteDoneCheckbox" {{NoteDoneCheckbox}}>Done
    </label>
    <input class="Button Save" type="submit" form="EditNoteForm" formmethod="post" formaction="/note/updateNote" value="Save">
    <input class="Button Cancel" type="submit" form="dummyForm" formmethod="get" formaction="/" value="Cancel">
</form>
<form id="dummyForm">
</form>