<form id="ListForm">
    <a class="DueTo">{{DueTo}}</a>
    <label class="FinishedLabel" for="FinishedCheckbox">Done
        <input id="FinishedCheckbox" type="checkbox" {{FinishedCheckbox}}>
    </label>
    <label class="NoteTitle" for="TextArea">{{NoteTitle}}</label>
    <textarea id="TextArea">{{NoteDescription}}</textarea>
    <a class="Importance">{{Importance}}</a>
    <input type="submit" formmethod="get" formaction="/editNote" class="Button Edit" value="Edit">
</form>
