<form id="ListForm">
    <a class="DueTo">{{dueUntilDate}}</a>
    <label class="FinishedLabel" for="FinishedCheckbox">Done
        {{!TODO checking checkbox doesn't change state in DB, replace with read only checkbox?}}
        <input id="FinishedCheckbox" type="checkbox" {{done}}>
    </label>
    <label class="NoteTitle" for="TextArea">{{noteTitle}}</label>
    <textarea id="TextArea">{{noteContent}}</textarea>
    <a class="Importance">{{importance}}</a>
    <input type="submit" formmethod="get" formaction="/note/editNote/{{_id}}/" class="Button Edit" value="Edit">
</form>
